---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <priority>1.0</priority>
  </url>
  {% for service in navigation.services %}
  <url>
    <loc>{{ site.url }}{{ service.url }}</loc>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% if navigation.serviceAreas %}
  {% for area in navigation.serviceAreas %}
  <url>
    <loc>{{ site.url }}{{ area.url }}</loc>
    <priority>0.7</priority>
  </url>
  {% endfor %}
  {% endif %}
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <priority>0.6</priority>
  </url>
  {% endfor %}
</urlset>
